/*Extensible*/
#yt li ,.down_s, .down_not, .down, .button, .simple_btn_g, .simple_btn_r, .s_b_g_big, .simple_btn_g_s , .rad3{ border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
	.ovfx{ overflow-x:hidden; }
	.wh100{ height:100%; width:100%;}
	p{ text-align:justify; } 
	.tt{   font-size:13px; color:#414141; padding:10px; display:block; }
	
	.eff_close{ 
		perspective:100;
		transform: translateX( -320deg );
		transition: transform 2s;		
	}

/*Btn*/
/*
	down, down_not = float right + padding
	simple_btn_g, simple_btn_r
*/
	
	.down_not, .down, .down_s, .button, .simple_btn_g, .simple_btn_r, .s_b_g_big, .simple_btn_g_s { font-family:systemL !important; display:inline-block; padding:5px; color:#fff; font-size:12px; font-weight:bold; }
	.down_not, .down{ float:right;  margin:5px;  }
	.s_b_g_big{ padding:10px; margin:5px; min-width:25px; text-align:center; }
	.down_not, .down_s, .down,.button, .simple_btn_g, .simple_btn_r, .s_b_g_big {
		border:1px solid #c0c0c0;  text-decoration:none; color:#414141;
		background: -webkit-linear-gradient(top,#dfdfdf 10%,#f0f0f0 50%); 
		background-image: -moz-linear-gradient(top,#dfdfdf 10%,#f0f0f0 50%); 
	 }
	 .down_s, .button:hover,  .down:hover, .simple_btn_g:hover, .s_b_g_big:hover, .simple_btn_g_s{
		border:1px solid #c0c0c0; text-decoration:none; color:#909090; 
		background: gradient(top,#fad00a 20%,#fdeea7 50%); 
		background: -webkit-linear-gradient(top,#fad00a 20%,#fdeea7 50%) !important; 
		background-image: -moz-linear-gradient(top,#fad00a 20%,#fce268 50%) !important; 
		transition-duration:1s; box-shadow: 0px 5px 10px 0px #FDEEA7;
		-webkit-transform: all 2s; -moz-transform: all 2s; transform: all 2s;
	 }
	 .down_not:hover, .simple_btn_r:hover{
		border:1px solid #c0c0c0; text-decoration:none; color:#fff;
		background: -webkit-linear-gradient(top,#ff0000 10%,#ff5f5f 50%) !important; 
		background-image: -moz-linear-gradient(top,#ff0000 10%,#ff5f5f 50%) !important; 
	 }
	 .disabled{
		color: #aaaaaa !important; 
		background:#f4f4f4 !important;
		-webkit-transform: all 2s; -moz-transform: all 2s; transform: all 2s;
		transition-duration:2s;
		pointer-events: none;
	 }
	 .disabled:hover{
		color: #aaaaaa !important; 
		background:#f4f4f4 !important;
		box-shadow: none;
	 }
/**/
/*msgBox*/
#msgBox{ display:flex; width:100%; } 
	#msgBox img{ width:50px !importantl; height:50px !important; margin-top:5px;}
	#msgBox .f_img{ flex:1 0 50px;  max-width:50px; vertical-align:middle; text-align:center; }
	#msgBox img{ width:48px; height:48px; }
	#msgBox .f_txt{ flex:1 0 50px; border-top:1px solid #f5f5f5; max-width:100%;}
			.f_tt_f{ padding:10px 5px 0 10px; text-align:justify; font-family:'Comic Sans MS', cursive, sans-serif; font-size:12px; }
	
/*Window*/
	.wind_icon{	width:20px; height:20px; 
				background-repeat:no-repeat;  background-size:20px 20px; background-position:5px;
			}
	@keyframes hideWindow{
			0%{ transform:scale(1); }
			10%{ transform:scale(1.1); }
			90%{ transform:scale(0.5); }
			100%{ transform:scale(0); display:none;}
	}
	.MinWindow{
		-webkit-animation: hideWindow 2s ease; -moz-animation: hideWindow 2s ease; animation: hideWindow 2s ease;
	}
	@keyframes maxWindow{
			0%{ transform:scale(0); }
			10%{ transform:scale(0.5); }
			90%{ transform:scale(1.1); }
			100%{ transform:scale(1);}
	}
	.maxWindow{
		-webkit-animation: maxWindow 2s ease; -moz-animation: maxWindow 2s ease; animation: maxWindow 1s ease;
	}
/*#######################/
#	   FORM / BALISE	#
/#######################*/
	img {
		user-drag: none; user-select: none;
		-moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none;
	}
	
	input[type="radio"], input[type="radio"]:checked{
		width: 1px; height: 1px; margin: 0; padding: 0; opacity: 0; position: absolute;
		-webkit-appearance:	none; -moz-appearance: none; -o-appearance: none; appearance: none;
	}
	input[type="radio"]+label{
				display      : block;
				margin-left  : 0;
				line-height  : 1.5em;
	}
	input[type="radio"]+label > span{
				display          : inline-block;
				width            : 0.875em;
				height           : 0.875em;
				margin           : 0.25em 0.5em 0.25em 0.25em;
				border           : 1px solid #828282;
				border-radius : 180px;	background: #d0d0d0;	vertical-align: bottom;
				background: -webkit-linear-gradient(top,#d0d0d0 0%,#d7d7d7 100%); /*top,#ff9966 0%,#ff6633 100%*/
				background-image: -moz-linear-gradient(top,#d0d0d0 0%,#d7d7d7 100%);
				box-shadow:0px 1px 5px -2px #000 inset;
	}
	input[type="radio"]:checked+label > span{
				border: 0.1em solid #f0f0f;
				background: -webkit-linear-gradient(top,#ff9966 0%,#ff6633 100%); /**/
				background-image: -moz-linear-gradient(top,#ff9966 0%,#ff6633 100%);
				box-shadow:0px 1px 5px -1px #f0f0f0 inset;
	}
	select,textarea, input[type="text"],input[type="number"]{
				border-radius:3px; border:1px solid #d0d0d0;
				padding:3px; max-width:100%; margin:2px;
				font-family:systemB;
				font-size:12px; color:#4a4a4a;
	}
	input[type="text"]+ label{
				line-height  : 1.5em;
	}
	select{
		border:1px solid #a9a9a9;
		background: gradient(top,#d3d3d3 20%,#dcdcdc 50%); 
		background: -webkit-linear-gradient(top,#d3d3d3 20%,#dcdcdc 50%) !important; 
		background-image: -moz-linear-gradient(top,#d3d3d3 20%,#dcdcdc 50%) !important; 
	}
	textarea.focus, textarea:focus,
	input[type="number"].focus,input[type="number"]:focus,
	input[type="text"].focus,input[type="text"]:focus{
				outline:none;
				box-shadow: inset 1px 1px 2px 0 #ff4b0f;
				/*padding:10px;
				/*border:1px solid #ff4b0f;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 1s linear;
					transition: all 0.5s ease;*/
				
	}
	/**/
	._w_box{ font-size:13px; border:1px solid #ada9a5; margin:3px; padding:8px; border-radius:3px; }
	.busy{ pointer-events: none; }
	
	/*#######################/
	#		FONT FACE		#
	/#######################*/
	@font-face{ font-family:systemB; src: url("./../ttf/Ubuntu-B.ttf"); }
	.systemB{ font-family:systemB, arial, sans-serif; }
	@font-face{ font-family:systemL; src: url("./../ttf/Ubuntu-L.ttf"); }
	textarea, .systemL, .title{ font-family:systemL, arial, sans-serif; }
	@font-face{
			font-family:consleMS;
			src:url("./../ttf/UbuntuMono-R.ttf");
	}
	.consoleMS{ font-family:consoleMS; }
	
	/*#######################/
	#		cursor			#
	/#######################*/
	.curdef,body { cursor: url("./../cursor/default.cur"), auto;}
	.curpt,input[type='submit'],button,a { cursor: url("./../cursor/link.cur"), auto;}
	.curtxt,input[type='text'] { cursor: url("./../cursor/text.cur"), auto;}
	.curun { cursor: url("./../cursor/unavailable.cur"), auto;}
	.curbw{ cursor: wait; }
	body{ margin:0; padding:0; overflow:hidden; width:100% !important; overflow:hidden; font-family:systemL;  }

/*#######################/
#		NOSELECT		#
/#######################*/
a , .noselect, .disabled{
   user-select: none; -o-user-select:none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none;
}
/***/
/*#######################/
#	SCROLLBAR WEBKIT	#
/#######################*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/**/
	/*###################/
	#	CONTENERTEXT	#
	/###################*/
	section.contenerText{
		background:#e5e5e5;
		font-size:13px;
		border-top:0.4mm solid #f5f5f5;   
		margin:1px;
		border-radius:3px;
		outline: 0.2mm solid #d7d7d7;
		width: 100%; margin: 1px auto 1px auto;
	}
	section.contenerText:nth-child( 2n+0 ){
		outline: 0.2mm solid #d0d0d0;
		background:#ededed;
	}
	section.contenerText span.title{
		font-weight:bold;
	}
	section.contenerText span{
		padding:8px;
		display:inline-block;
	}
	/*##################*/
	
	/****/
	@keyframes hideBar{
			
			50%{ 
				height:50%;
		-webkit-transform: perspective(12px) rotateX(-2deg);
		-moz-transform: perspective(12px) rotateX(-2deg);
		-o-transform: perspective(12px) rotateX(-2deg);
		-ms-transform: perspective(12px) rotateX(-2deg);
		transform:  perspective(12px) rotateX(-2deg);
				

			}
			100%{ 
						
				height:0; width:10%; top:100%; 
				}
				
	}
	.hi2{
		-webkit-animation: hideBar 2s ease; -moz-animation: hideBar 2s ease; animation:  hideBar 2s ease;
		/*-webkit-transform: perspective(12px) rotateX(-2deg);
		-moz-transform: perspective(12px) rotateX(-2deg);
		-o-transform: perspective(12px) rotateX(-2deg);
		-ms-transform: perspective(12px) rotateX(-2deg);
		transform:  perspective(12px) rotateX(-2deg);*/
		/*height:0;
		width:10%;
		top:100%;*/
	
	}
	div.transitionAll{ 
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear; 	
	}
	.hideD{
	
		height:100%;
		-webkit-transform: perspective(50px) rotateX(-2deg);
		-moz-transform: perspective(50px) rotateX(-2deg);
		-o-transform: perspective(50px) rotateX(-2deg);
		-ms-transform: perspective(50px) rotateX(-2deg);
		transform: all;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;

	}  
